.login__link {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: white;
  text-decoration: none;
  margin-top: 15px;
}

.login__link:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: linear .3s;
}